
h1 {
color: yellow;
    font-family: Arial, sans-serif;
    text-align: center;
	background-color: black
}

h2 {
    
}


p {
    color: blue;
    font-family: 'Times New Roman', serif;
 
}


#kuvat-div {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
}

footer {
text-align: center;

}

