
h1 {
color: yellow;
    font-family: Arial, sans-serif;
    text-align: center;
	background-color: black
}

h2 {
    
}

/* Teksti */
p {
    color: #666;
    font-family: 'Times New Roman', serif;
    text-align: justify;
}

/* DIV-elementti, jossa on ID "kuvat-div" */
#kuvat-div {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Luokka "fancy-teksti" */
.fancy-teksti {
    color: purple;
    font-weight: bold;
}

/* Luokka "pieni-kuva" (käytetty kuvien koon muuttamiseen) */
.pieni-kuva {
    max-width: 300px;
    max-height: 200px;
    float: left; /* Esimerkki kelluvasta elementistä */
    margin: 10px;
}
